In [3]:
import numpy as np
from tabulate import tabulate

# NUMPY 
 https://numpy.org/doc/stable/user/whatisnumpy.html

NumPyâ€™s array class is called ndarray. It is also known by the alias array. Note that numpy.array is not the same as the 
Standard Python Library class array.array, which only handles one-dimensional arrays and offers less functionality. 
The more important attributes of an ndarray object are:

In [4]:
a = np.ones((1,1))
print(type(a))
print(a.ndim)

<class 'numpy.ndarray'>
2

# WHAT IS MATRIX AND ND-ARRAY ( N-DIMENSIONAL ARRAY )

Before moving forward , we should have an understanding what is matrix and n-dimensional array. 

Matrix is nothing but a way of representing the data points  and why do we do it , to use the various properties of Linear Algebra / Matrix properties to do calculation easily / easy to write and represent. 

ex: Let's say I have the scores of all students in a class for a test , data could look like [12,20,25,18]
This is nothing but an array / a vector / 1 dimensional array. 

Now For each student we have scores for two subjects so the score will be in tuple ex : [ (12,20) , (20,13) , (25,19) , (18,21) ]
Another way of representing this could be [ [12,20] , [20,13] , [25,19] , [18,21]  ]

<!-- Table 1 -->
<table>
  <tr>
    <th>12</th>
    <th>20</th>
    <th>25</th>
    <th>18</th>
  </tr>
  <tr>
    <td>20</td>
    <td>13</td>
    <td>19</td>
    <td>21</td>
  </tr>
</table>

<!-- Table 2 -->
<br>

<table>
  <tr>
    <td>12</td>
    <td>20</td>
  </tr>
  <tr>
    <td>20</td>
    <td>13</td>
  </tr>
  <tr>
    <td>25</td>
    <td>19</td>
  </tr>
  <tr>
    <td>18</td>
    <td>21</td>
  </tr>
</table>


4 Student 2 Subjects =>  [4 2] or [2 4] are two different ways of representing the same data . 


So the confusion could arise what is the write way , actually both are correct . Its just based on the operation you want to perform on these data , you will have to either use transpose to get the right result. 



In above case  data is in 2D => 2D array 



Now think of three subjects so each student will have triplet ( 12, 19 , 22 ) => [ [12, 19 , 22] , [22, 10 , 19] ]